HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
/logs/

### Java / Maven ###
.mvn/
target/
dependency-reduced-pom.xml

### Gradle ###
.gradle/
build/

### Security - Env Variables ###
.env
.env.local
application.properties
application.yml

### OS-Specific Files ###
.DS_Store
Thumbs.db
